@import '~bootstrap/scss/bootstrap';

$dark-khaki: #bdb76b;
$white-smoke: #f5f5f5;

body {
  background-color: $white-smoke;
  color: DimGrey;
  font-family: 'Questrial', sans-serif;
  margin-top: 45px;
}

.board {
  // font-size: 1rem;
  // height: 80vh;
  height: 300px;
  margin: 0 auto;
  // max-height: 45vh;
  // max-height: 300px;
  // max-width: 45vh;
  // max-width: 300px;
  // width: 80vh;
  width: 300px;
}

.row {
  display: flex;
}

.cell {
  // background: DimGrey;
  align-items: center;
  border: 1px solid DimGrey;
  color: DimGrey;
  display: flex;
  flex: 1 0 auto;
  // font-family: 'Catamaran', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 75px;
  height: 100px;
  justify-content: center;
  // font-weight: bold;
  margin: 0;
  position: relative;
  // text-transform: uppercase;
  width: 100px;

  &:hover {
    // background-color: White;
    cursor: pointer;
  }
}

.winner {
  // display: none;
  color: $dark-khaki;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
  padding: 25px;
  text-align: center;
}

.message {
  // display: none;
  color: $dark-khaki;
  font-family: 'Questrial', sans-serif;
  font-size: 15px;
  padding: 25px;
  text-align: center;

  &.success {
    color: green;
  }

  &.failure {
    color: red;
  }
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.reset {
  background-color: $white-smoke;
  border: solid $white-smoke;
  border-radius: 4px;
  color: DimGrey;
  display: inline-block;
  font-family: 'Questrial', sans-serif;
  font-size: 15px;
  // margin: 12px;
  outline: none !important;
  // padding: 20px;

  &:hover {
    background-color: $white-smoke;
    color: $dark-khaki;
    cursor: pointer;
  }
}

.menu-buttons {
  background-color: $white-smoke;
  border: solid $white-smoke;
  border-radius: 4px;
  color: DimGrey;
  display: inline-block;
  font-family: 'Questrial', sans-serif;
  font-size: 15px;
  // margin: 12px;
  outline: none !important;
  // padding: 20px;

  &:hover {
    background-color: $white-smoke;
    color: $dark-khaki;
    cursor: pointer;
  }
}

.modal-signup {
  background-color: $dark-khaki;
  border: solid $dark-khaki;
  border-radius: 4px;
  color: DimGrey;
  display: inline-block;
  font-family: 'Questrial', sans-serif;
  font-size: 15px;
  // margin: 12px;
  outline: none !important;
  // padding: 20px;
  width: 75px;

  &:hover {
    background-color: $dark-khaki;
    border: solid $dark-khaki;
    border-radius: 4px;
    color: $white-smoke;
    cursor: pointer;
    width: 75px;
  }
}

.modal-signin {
  background-color: #bc9881;
  border: solid #bc9881;
  border-radius: 4px;
  color: DimGrey;
  display: inline-block;
  font-family: 'Questrial', sans-serif;
  font-size: 15px;
  // margin: 12px;
  outline: none !important;
  // padding: 20px;
  width: 75px;

  &:hover {
    background-color: #bc9881;
    border: solid #bc9881;
    border-radius: 4px;
    color: $white-smoke;
    cursor: pointer;
    width: 75px;
  }
}

.modal-change-password {
  background-color: #b0a591;
  border: solid #b0a591;
  border-radius: 4px;
  color: DimGrey;
  display: inline-block;
  font-family: 'Questrial', sans-serif;
  font-size: 15px;
  // margin: 12px;
  outline: none !important;
  // padding: 20px;
  width: 75px;

  &:hover {
    background-color: #b0a591;
    border: solid #b0a591;
    border-radius: 4px;
    color: $white-smoke;
    cursor: pointer;
    width: 75px;
  }
}

.modal-signout {
  background-color: #bc8b8b;
  border: solid #bc8b8b;
  border-radius: 4px;
  color: DimGrey;
  display: inline-block;
  font-family: 'Questrial', sans-serif;
  font-size: 15px;
  // margin: 12px;
  outline: none !important;
  // padding: 20px;
  width: 75px;

  &:hover {
    background-color: #bc8b8b;
    border: solid #bc8b8b;
    border-radius: 4px;
    color: $white-smoke;
    cursor: pointer;
    width: 75px;
  }
}

.modal-backdrop {
   background-color: $white-smoke;
}

// .signup {
//   background-color: Tomato;
//   // border: solid $white-smoke;
//   border-radius: 4px;
//   color: $white-smoke;
//   font-family: 'Questrial', sans-serif;
//   font-size: 15px;
//   margin: 20px;
//   outline: none !important;
//   padding: 10px;
//
// }

// forces box to remain square.
// .cell:after {
//   content: '';
//   // makes width stretch to 100%.
//   display: block;
//   float: left;
//   // sets height to 100%, equal to width.
//   padding-top: 100%;
// }

// .cell .text {
//   align-items: center;
//   bottom: 0;
//   display: flex;
//   justify-content: center;
//   left: 0;
//   position: absolute;
//   right: 0;
//   top: 0;
// }


// .flex-container {
//   display: flex;
// }
// code based on: http://bluecaret.com/blog/responsive-grid-of-squares
